.HomeBody {
  background-image: linear-gradient(
    45deg,
    rgba(0,0,0,1) 0%, rgba(37,27,93,1) 20%, rgba(0,0,0,1) 46%
  );
  height: 100vh;
  width: 100vw;
  overflow: "hidden";
  animation: flowAnimation 2s infinite alternate;
}

@keyframes flowAnimation {
  33% { background-position: -10px;}
  66% {background-position: -20px;}
  99% {background-position: -30px;}
}
